:root {
    --color-background: #121212;
    --color-red: rgb(244, 67, 54);

    --color-blue: #197BBD;
    --color-yellow: #FCAB10;
    --color-white: #EFF1F3;
    --color-gray: #D3D5D7;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-background);
    overflow: hidden;
    margin: 0;
}

.form-container {
    margin: 0 auto;
    text-align: center;
}

form {
    display: inline-block;
    margin: 20px auto;
    padding: 20px;
}

form input, form button {
    display: block;
    padding: 8px;
    width: 200px;
    margin: 15px;
    border: solid 1px black;
}

input[type="submit"] {
    width: 150px;
    margin: 15px auto;
}

.form-error-message {
    color: var(--color-red);
    width: 200px;
    word-break: break-word;
    word-wrap: break-word;
    margin: 0 auto;
}

.game-container {
    position: relative;
}

.modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modal {
    background-color: rgba(0, 0, 0, 0.75);

    padding: 50px;
    display: block;
    border: solid 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal button {
    border: solid 1px blacK;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #90caf9;
}

