:root {
    --color-background: #2C2C2C;
    --color-red: #CF6679;

    --color-blue: #197BBD;
    --color-yellow: #FCAB10;
    --color-white: #EFF1F3;
    --color-gray: #D3D5D7;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-background);
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    overflow: hidden;
    color: var(--color-white);
}

.form-container {
    margin: 0 auto;
    text-align: center;
}

form {
    display: inline-block;
    margin: auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.05);
}

input, button{
    display: block;
    padding: 8px;
    width: 200px;
    margin: 15px;
    border: solid 1px black;
}

input[type="submit"] {
    width: 150px;
    margin: 15px auto;
}

.form-error-message {
    color: var(--color-red);
    width: 200px;
    word-break: break-word;
    word-wrap: break-word;
    margin: 0 auto;
}

.game-container {
    position: relative;
}

.modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modal {
    background-color: rgba(255, 255, 255, 0.25);

    padding: 50px;
    display: inline-block;
    border: solid 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal button {
    border: solid 1px blacK;
}